body{
  height: 100%;
}

label, input, button, select{
  margin-left: 5%;
  margin-right: 8%;
}

#form-container{
  height: 100%;
  flex-direction: row;
  display: flex;
}

#form{
  width: 24%;
  margin: auto;
}

#continue{
  margin-top: 6%;
  float: right;
}
